<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login Form Design | CodeLab</title>
    <link rel="stylesheet" href="login.component.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Login Form</div>
      <form action="#">
        <div class="field">
          <div class="input-box">
            <span class="details">Email</span>
            <input
              type="text"
              placeholder="Enter your email"
              required
              [(ngModel)]="login.Email"
              name="Email"
            />
          </div>
        </div>
        <div class="field">
          <div class="input-box">
            <span class="details">Password</span>
            <input
              type="text"
              placeholder="Enter your password"
              required
              name="Password"
              [(ngModel)]="login.Password"
            />
          </div>
        </div>
        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember me</label>
          </div>
          <div class="pass-link">
            <a href="#">Forgot password?</a>
          </div>
        </div>

        <div class="field">
          <input type="button" value="Login" routerLink="./home" (click)=" loginSave()" />
        </div>

        <div class="signup-link">
          Not a member? <a href="register">Signup now </a>
        </div>
      </form>
    </div>
  </body>
</html>
